<?xml version="1.0" ?>
<launch>

    <include file="$(find alfarobi_vision)/launch/v9_ball_detector/v9_ball_detector.launch" />
    <!-- yellow goalpost -->
    <!-- <include file="$(find alfarobi_vision)/launch/v10_goalpost_detector/v10_goalpost_detector.launch" /> -->

    <!-- <include file="$(find alfarobi_vision)/launch/v9_localization/v9_localization.launch" /> -->
    <!-- <include file="$(find alfarobi_monitor)/launch/localization_monitor/localization_monitor.launch" /> -->

     <node pkg="alfarobi_monitor" name="vision_monitor_node" type="vision_monitor_node" output="screen" >
<!--        <remap from="/vision_monitor_node/image_in" to="/v9_ball_detector_node/image_out" />-->
    </node>

</launch>
