<?xml version="1.0" ?>
<launch>

    <include file="$(find alfarobi_vision)/launch/v9_ball_detector/v9_ball_detector_from_video.launch" />
	
    <node pkg="alfarobi_vision" name="v9_localization_node" type="v9_localization_node" output="screen" >
        <remap from="/v9_localization_node/segment_white" to="/img_source_node/segment_white" />
        <remap from="/v9_localization_node/inv_segment_green" to="/img_source_node/inv_segment_green" />
        <remap from="/v9_localization_node/field_boundary" to="/img_source_node/field_boundary" />
    </node>

</launch>
